.themeSwitch {
  &__tooltip {
    color: var(--gray-700);
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--gray-200);
  }

  &__switch {
    &.ant-switch {
      background-color: var(--gray-200);
    }
  }
}
